* {
  box-sizing: border-box;
}
body {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
h1 {
  margin-top: 1rem;
}
.title-hero {
  display: flex;
  flex-direction: column;
  margin: 7rem;
  position: relative;
  bottom: 6.2rem;
}
.p-hero {
  size: 16px;
  display: flex;
  flex-direction: column;
  margin: 3rem;
  position: relative;
  bottom: 12rem;
}
.submit {
  border-radius: 20px;
  padding: 16px 50px 16px 50px;
  background-color: #009379;
  color: white;
  position: relative;
  bottom: 13rem;
}
.image-mobile1 {
  position: relative;
  bottom: 11rem;
}

.title-ourfeature {
  position: relative;
  bottom: 11rem;
}
.p-ourfeature {
  size: 16px;
  display: flex;
  flex-direction: column;
  margin: 6.5rem;
  position: relative;
  bottom: 16.5rem;
}
.ul-ourfeature {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  bottom: 21rem;
  right: 1rem;
  li {
    border: 1px solid;
    padding: 1rem;
    margin-inline: 5.6rem;
    border-radius: 1rem;
  }
}
.image-mobile2 {
  position: relative;
  bottom: 20rem;
}
.title-selectedworks {
  margin: 2rem;
  position: relative;
  bottom: 18rem;
}
.p-selectedworks {
  position: relative;
  bottom: 22rem;
  margin: 5rem;
}
.image-nutria {
  border-radius: 3rem 3rem 0 0;
}
.project-nutria {
  margin-inline: 1.3rem;
  border: 1px solid;
  border-radius: 0 0 3rem 3rem;
}
#nutria-margin {
  margin-inline: 1rem;
}
.nutria-margin {
  padding: 0 2rem 0 1rem;
}
.article-project {
  position: relative;
  bottom: 25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section-stories {
  background-color: #f8d57e;
  border: 1px solid;
  padding: 4rem;
  margin-inline: 1rem;
  position: relative;
  bottom: 22rem;
}

.title-stories {
  margin-inline: 1rem;
}
.p-stories {
  font-size: 12px;
}
.article-stories {
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
}
.stories-nutria {
  border-radius: 50rem;
}
.section-plan {
  position: relative;
  bottom: 20rem;
}
.title-plan {
  margin-inline: 5rem;
}
.p-plan {
  margin-inline: 5.2rem;
  font-size: 12px;
}
.article-free-profesional {
  position: relative;
  bottom: 4rem;
  border: 1px solid;
  border-radius: 1rem;
  margin: 6rem;
  text-align: initial;
  padding: 2rem;
}
li {
  list-style: none;
}

footer {
  text-align: start;
  background-color: #2d2d2d;
  color: white;
}
.icons-footer {
  background-color: #4e4d4d;
  border-radius: 100%;
  padding: 0rem;
  margin-left: 1rem;
}
